{% extends "package/read.html" %}

{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block package_notes %}
  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {% if h.scheming_field_by_name(schema.dataset_fields, 'notes') and
    pkg.notes%}
    <div class="notes embedded-content">
      <!-- read more or less -->
      {% if h.render_markdown(pkg.notes)|length < 1250 %}
        {{ h.render_markdown(pkg.notes) }}
      {% else %}
        {% if pkg.name in request.url %}
          {{ h.render_markdown(pkg.notes)[0:1250] + '...' }}
          {% link_for _('read more >>'), controller='package', action='read', id=pkg.id %}
        {% else %}
          {{ h.render_markdown(pkg.notes) }}
          {% link_for _('<< read less'), controller='package', action='read', id=pkg.name %}
        {% endif %}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block package_additional_info %}
  {% snippet "scheming/package/snippets/additional_info.html",
    pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
{% endblock %}
